<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
<title>Change password</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div th:replace="common/navbar :: navbar"></div>

	<div class="container" align="center">
			
		<div class="login">
		<a style="font-size:large">Change password</a><br><br>
		
		<span th:if="${error?.get('emailDoesntExist')}">Email doesn't exist</span>
		<span th:if="${error?.get('passwordsDontMatch')}">Passwords don't match</span>
		<span th:if="${error?.get('wrongPassword')}">Wrong password</span>
		<form method="post" th:action="@{/changePassword}">
		
			<table style="padding:5px">
		
			<tr>
			<td><label class="form-label">E-mail:</label></td>
			<td><input type="text" class="form-control" name="email" required="required"></td>
			</tr>
			
			<tr>
			<td><label class="form-label">Current password:</label></td>
			<td><input type="password" class="form-control" name="currentPassword" required="required"></td>
			</tr>

			<tr>
			<td><label class="form-label">New password:</label></td>
			<td><input type="password" class="form-control" name="newPassword" required="required"></td>
			</tr>

			<tr>
			<td><label class="form-label">Confirm password:</label></td>
			<td><input type="password" class="form-control" name="confirmPassword" required="required"></td>
			</tr>

			<tr>
			<td>
			<td><button type="submit" class="link-small" style="float:right">Change</button></td>
			</tr>
			
			</table>
			
		</form>
		</div>
	</div>
</body>
</html>